body {
    background-color: rgb(255, 254, 218);
}
nav {
    text-align: center;
    text-decoration-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    /* border: 2px solid brown; */
    margin: auto;
    width: 200px;
    padding: 5px;
}

a {
    text-decoration: none;
    padding: 0px 5px;
    color: orangered;
}

a:hover {
    color: rgb(215, 215, 215);
    background-color: rgb(145, 142, 63);
    border-radius: 10%;
}

h1 {
    color: rebeccapurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: rgb(red, rgb(38, 43, 38), blue);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-div {
    text-align: center;
    /* width: 500px; */
}

.img-div img {
    text-align: center;
    width: 300px;
    height: 300px;
}

img {
    width: 500px;
    height: 500px;
    border: 5px solid brown;
    border-radius: 20%;
}


.first-text {
    margin: auto;
    text-align: center;
    width: 800px;
    font-size: 20px;
}
