body {
    background-color: rgb(254, 253, 240);
}

/* NAVBAR START */
nav {
    text-align: center;
    text-decoration-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: auto;
    padding: 5px;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 0px 5px;
    color: orangered;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

a:hover {
    color: rgb(215, 215, 215);
    background-color: rgb(145, 142, 63);
    border-radius: 10%;
}
/* NAVBAR END */

h1 {
    color: rebeccapurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: rgb(red, rgb(38, 43, 38), blue);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* IMAGES START */
.img-div {
    text-align: center;
    /* width: 500px; */
}

.img-div-home {
    text-align: center;
    padding: 20px;
    /* width: 500px; */
}

.img-div-home img {
    text-align: center;
    width: 300px;
    height: 300px;
}

.img-div-home img:hover {
    opacity: 50%;
}

img {
    width: 500px;
    height: 500px;
    border: 5px solid brown;
    border-radius: 20%;
}
/* IMAGES END */

.first-text {
    margin: auto;
    text-align: center;
    width: 800px;
    font-size: 20px;
}


.picker {
    border: 1px solid #aaa;
    height: 100px;
    margin: 1em auto;
    width: 100px;
}